<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1 class="h1n">Welcome to MarketScience</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/profesionales">Professionals</a></li>
            <li><a href="/IA">AI assistant</a></li>
            <li><a href="/proyectos">Projects</a></li>
        </ul>
    </nav>
    <main class="main-container">
        
        <h1>What information are you looking for?</h1>
        <section>
            {% for project in projects %}
                <article>
                    <h3>{{ project.name }}</h3>
                    <p>{{ project.description }}</p>
                    <p>Science Type: {{ project['science type'] }}</p>
                </article>
            {% endfor %}
        </section>
        <!-- Add two buttons with links to different routes -->
        
            <div class="button-container">
                <a href="/proyectos">
                    <button class="btn">Projects</button>
                </a>
            
                <a href="/profesionales">
                    <h3> </h3>
                    <button class="btn">Professionals</button>
                </a>
            </div>
       
        
</body>
</html>
