<!DOCTYPE html>
<html>
<head>
    <title>User Profil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="container">
    <h1>Perfil de {{ usuario.nombre }}</h1>
    <img src="{{ url_for('static', filename='807.jpg') }} " alt="Descripción de la imagen">

    <h2>General Information</h2>
    <p><strong>Name:</strong> {{ usuario.nombre }}</p>
    <p><strong>Profession:</strong> {{ usuario.profesion }}</p>

    <h2>Summary</h2>
    <p>{{ usuario.resumen }}</p>

   

    <a href="{{ url_for('ruta_profesionales') }}">Go back to the list of professionals</a>
</body>
</html>
