<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profesionales</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1 class="h1n">Profesionales</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/profesionales">Profesionales</a></li>
            <li><a href="/IA">AI assistant</a></li>
            <li><a href="/proyectos">Proyectos</a></li>
        </ul>
    </nav>
    <main class="main-container">
        <form method="POST">
            <div class="input-group">
                <input required="" type="text" name="text" autocomplete="off" class="input">
                <label class="user-label">Buscar profesionales</label>
            </div>
            <select id="filtro" name="filtro">
                <option value="">Tipo de ciencia</option>
                <option value="Física">Física</option>
                <option value="Química">Química</option>
                <option value="Biología">Biología</option>
                <option value="Astronomía">Astronomía</option>
                <option value="Geología">Geología</option>
                <option value="Ecología">Ecología</option>
                <option value="Matemáticas">Matemáticas</option>
                <option value="Informática">Informática</option>
                <option value="Medicina">Medicina</option>
                <option value="Psicología">Psicología</option>
                <option value="Sociología">Sociología</option>
                <option value="Antropología">Antropología</option>
                <option value="Economía">Economía</option>
                <option value="Política">Política</option>
                <option value="Historia">Historia</option>
                <option value="Lingüística">Lingüística</option>
                <option value="Ciencias del Medio Ambiente">Ciencias del Medio Ambiente</option>
                <option value="Neurociencia">Neurociencia</option>
                <option value="Bioquímica">Bioquímica</option>
                <option value="Genética">Genética</option>
                <option value="Oceanografía">Oceanografía</option>
                <option value="Fotónica">Fotónica</option>
                <option value="Ciencias Sociales">Ciencias Sociales</option>
                <option value="Ciencias Polares">Ciencias Polares</option>
                <option value="Ingeniería">Ingeniería</option>                          
                <!-- Otras opciones de ciencia aquí -->
            </select>
            <input class="btn" style="padding: 15px 30px; font-size: 12px;" type="submit" value="Buscar">
        </form>
        <div>
            {% if respuesta %}
                <p>{{ respuesta }}</p>
            {% else %}
                {% if resultados %}
                    <h3>Resultados de la búsqueda</h3>
                    
                    <ar>
                        {% for profesional in resultados %}
                        <div class="card" style="display: inline-block;">
                            <div class="content">
                              <p class="heading">{{ profesional.nombre }}</p>
                              <p class="para">
                                Profesión: {{ profesional.profesion }}
                                Tipo de Ciencia: {{ profesional['tipo de ciencia'] }}
                                Resumen: {{ profesional.resumen }}
                              </p>
                              <button class="btn" onclick="redireccionarPerfil({{ profesional.id }})">Read more</button>
                            </div>
                          </div>
                        {% endfor %}
                        
                        
                    </ul>
                {% else %}
                    <p>{{ respuesta }}</p>
                {% endif %}
            {% endif %}
        </div>
    </main>
    <script>
        // Función para redireccionar a la ruta de perfil con el usuario especificado
        function redireccionarPerfil(userId) {
            // Redirige al usuario a la ruta deseada
            window.location.href = `/perfil/${userId}`;
        }
    </script>   
</body>
</html>
